<div class="container">
  <h2>Task Manager</h2>

  <div class="input-box">
    <input
      type="text"
      [(ngModel)]="newTodo"
      placeholder="Add task"
      (keyup.enter)="addTodo()"
    />
    <button (click)="addTodo()">Add</button>
  </div>

  <ul>
    <li *ngFor="let todo of todos">
      <input
        type="checkbox"
        [checked]="todo.completed"
        (change)="toggle(todo)"
      />

      <span [class.completed]="todo.completed">
        {{ todo.title }}
      </span>

      <small>{{ todo.createdAt | date : "short" }}</small>

      <button class="delete" (click)="delete(todo)">✕</button>
    </li>
  </ul>

  <p *ngIf="todos.length === 0" style="text-align: center; color: #777">
    No tasks yet.
  </p>
</div>
